.chat-link {
  text-decoration: underline;
}

.white {
  background: #fff;
  background-image: url("salad.png");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #000;
  text-shadow: none;
}

.white a {
  color: #000 !important;
  text-shadow: none !important;
}

.white .active > a {
  border-bottom-color: #000 !important;
}
