.bar{
  background-color:white;
  margin:0;
  padding:10px;
  }
.clear{clear:both;}


/*#shoppingcart{
  position:relative;
  float:right;
  right:0;
}*/
#shoppingcart{
    position:absolute;
    right:0;
    top:20px;
    z-index: 10;
}


.navbar-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.navbar-header li {
  float: left;
}


.navbar-header h3 {
  display: block;
  color: black;
  text-align: center;
  margin-left:40px;
}


.home {
  display: block;
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-right:20px;
  text-decoration: none;
  
  /*padding: 20px 16px;*/
}
.home:hover:not(.active) {
  color: teal;
}

#edamam-badge{
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  margin-top:5px;
}




/*#edamam-badge{
    position:absolute;
    right:0;
    top:20px;
    z-index: 10;
}*/


.menu ul{
  list-style:none;
  background-color: #f1f1f1;
  /*position:relative;*/
  margin:0;
  padding:0;
  width:200px;
  float:left;
  overflow:hidden; 
}
.menu li a{
  display:block;
  color:black;
  padding:14px 15%;
  text-decoration:none;
}
.menu li a.home{
   background-color:#4CAF50;
   color: white;
}
.menu li a:hover:not(.home){
   background-color:#555;
   color: white;
}
.menu li a.home:hover{
    background-color:#3e8341;
    color:white;
}
.mainpage{
  margin-left:200px;
  /*margin-right:200px;*/
}
.bar2 ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:black;
}
.bar2 li{
  float:left;
}
.bar2 li a{
  display:block;
  color:white;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
}
.bar2 li a:hover{background-color:#CCC;}

/*.productlist{
  width:100%;
  background:white;
}
*/

/* Create three equal columns that floats next to each other */
.column_left {
  float: left;
  width: 55%;
  padding: 10px;
  margin-left:5px;
  background-color: white;
  display: -webkit-flex;
  display: flex;
}
.column_right {
  float: right;
  width: 500px;
  /*40%;*/
  margin-right:10px;
  padding: 10px;
  /*height: 300px;  Should be removed. Only for demonstration */
  background-color: #ddd;
  border-radius: 4px;
}
.column_right h2 {
  margin-left: 20px;
}
.column_right p {
  margin-left: 20px;
}

/* Clear floats after the columns */
.mainpage:after {
  content: "";
  display: table;
  clear: both;
}

ul.table{
  margin:5px 20px;
  padding:0;
  list-style:none;
  overflow:hidden;
  border:none;
}
ul.table li{
  width:200px;
  height:240px;
  float:left;
  border:1px solid #CCC;
  margin:5px;
  border-radius: 4px;
  overflow: auto;
}
div.center{
  margin:10%;
}
.center img{
  border: 2px solid white;
  border-radius: 4px;
  padding:5px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.center img:hover {border:2px solid teal;} /*#4CAF50*/
.desc{
  text-align: center;
  margin:5%;
}

.desc a{
  text-decoration:none;
  color:black;
  font-size:20px;
}
.desc a:hover {color:#3e8341;}
.desc p{
  padding:2px;
  margin:0;
  margin-bottom: 5px;
}
a.button:hover{color:white; background-color:#3e8341;}
a.button{
  background-color:#4CAF50;
  border:none;
  color:white;
  text-align:center;
  text-decoration:none;
  font-size:16px;
  /*position:relative;*/
  padding:3px 20px;
  border-radius: 4px;
}
.prod{
  display: inline-block;
  width:100%;
  overflow: hidden;
}
.left-img{
  float:left;
  margin: 3%;
}
.prod img{
  border: 2px solid #555;
  border-radius:4px;
  padding:5px;
}
.content{
  position: relative;
  width:60%;
  margin:20px;
}
.prod p{
  text-align: left;
}


body{
  margin:0;
  min-width: 500px;
}
footer{
  padding:5px;
  color:white;
  background-color:black;
  margin-top: 10%;
  bottom:0;
  text-align:left;
  font-size:14px;
}

.container {
  display: -webkit-flex;
  display: flex;
}
/*.navbar-header {
  width: 200px;
  padding-left: 40px;
}*/

.flex-column {
  -webkit-flex: 1;
          flex: 1;
}
.navbar { 
  padding:0 10px 0 10px;
	/*position:relative;*/
  min-height: 50px;
  background: #fff;
  
}
.banner{
	width: 100%;
	background:#fff;
	position:relative;
	margin:0;
	padding:0;
}
.banner img{
    max-width:100%;
    height: auto;
    opacity:0.6;
}
.titlecenter{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:40px;
  color:white;
}
.titleleft{
  position:absolute;
  top:8px;
  left:40px;
  font-size:40px;
  color:white;
}
.titlebottom{
  position:absolute;
  bottom:5%;
  left:40px;
}
.titlebottom h3{
  font-size:40px;
  color:white;
  padding:0;
  margin:0;
}
.titlebottom p{
  font-size:30px;
  color:white;
}
.prodbottom h3{
  font-size:40px;
   color:  white;
}
